<div class="question-container my-4">
    <div class="d-flex justify-content-between shadow">
        <div class="">
            <div class="category p-1 mb-2 rounded">{{question.categoryID?.name}}</div>
            <h3 class="p-3"><span class="fs-2 fw-bold me-2 ">Q</span> {{question.question}}</h3>
        </div>
        <div class=" d-flex" *ngIf="!question.answer">
            <div class="action">
                <button mat-icon-button color="primary" title="edit" (click)="editQuestion()">
                    <mat-icon aria-label="Edit" class="material-icons-outlined">edit</mat-icon>
                </button>
            </div>
            <div class="action">
                <button mat-icon-button color="warn" title="delete" (click)="deleteQuestion()">
                    <mat-icon aria-label="Delete" class="material-icons-outlined">delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="question.answer" class="shadow border p-4 bg-light">
        <!--teacherProfile-->
        <h4>{{question.answer}}</h4>
        <p style="font-size: 14px;">Answered By <a class="teacher" routerLink="home">
                {{question.teacherID.firstName}} {{question.teacherID.lastName}}
            </a>
        </p>
    </div>
    <div *ngIf="!question.answer" class="shadow border p-4 bg-light">
        <h4>Not answered yet!</h4>
    </div>
</div>