<ng-container *ngIf="isLoading">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!isLoading">
    <div class="container-card">
        <div class="person" style="--data-color: #c3a668">
            <h3 class="header">{{ course.courseId.name }}</h3>
            <dl class="attributes">
                <dt>Description</dt>
                <dd style="line-height: 1.3;">{{ course.courseId.description }}</dd>
                <dt>Number Of Sessions</dt>
                <dd>{{ course.courseId.numberOfSessions }}</dd>
                <dt>Level</dt>
                <dd>{{ course.courseId.level }}</dd>
                <dt>Days</dt>
                <dd>{{ course.courseId.daysOfWeek }}</dd>
            </dl>
        </div>

    </div>

    <div class="container">
        <h3 class="header">Course Sessions</h3>
        <div class="row">
            <div class="col-md-4 my-2 position-relative" *ngFor="let session of course.sessions; let i=index">
                <div class="session p-4 shadow"
                    [ngClass]="{'ended-session': hasSessionEnded(session), 'today-session': sessionStartingSoon(session)}">
                    <h2 class="text-center fs-3">
                        Session {{i+1}}
                    </h2>
                    <h3 class="fw-bold"> {{formatDate(session.date)}} <br>
                        <span class="time">
                            {{session.startTime}}
                        </span>
                        Till
                        <span class="time">
                            {{session.endTime}}
                        </span>
                        <br>
                    </h3>
                    <div class="d-flex justify-content-end">
                        <button class="custom-button border border-1" [disabled]="hasSessionEnded(session)"
                            *ngIf="!session.progressComment" [routerLink]="'/student/session/' + session._id"
                            [queryParams]="{ sessionNum: i+1 }">
                            View Details</button>
                        <button class="btn progress-btn border border-1"
                            *ngIf="hasSessionEnded(session) && session.progressComment"
                            (click)="CommentDisplay(session)">Show Progress Comment</button>
                    </div>


                    <div class="comment rounded shadow d-flex flex-column justify-content-between"
                        *ngIf="hasSessionEnded(session) && session.progressComment && session.viewComment">
                        <div>
                            <br>
                            <button class="btn text-white" (click)="CommentHide(session)">X</button>
                            <h3>Teacher's Comment</h3>
                            <p class="mb-0">

                                {{ session.progressComment }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>