@import url(../../../teacher/components/course-details/course-details.component.css);

.today-session{
    border: 6px solid rgb(178, 137, 83);
}

.custom-button:disabled{
    text-decoration: line-through;    
} 

.ended-session {
    position: relative;
  }
.ended-session::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.progress-btn{
    background-color: #5b2d1e;
    color: #e1e1e1;
    padding: 0.75rem 1.5rem;
    z-index: 1;
}

.comment{
    position: absolute;
    background-color: #5b2d1e;
    padding: 0.75rem 1.5rem;
    color: #fff;
    top: 0;
    right:0;
    height: 100%;
    z-index: 2;
}