<div class="d-flex justify-content-between page">
<div>
  <button class="hamburger-menu" (click)="toggleMenu()">
    <i class="fas fa-bars"></i>
  </button>
  <nav class="chapter-sidebar pt-lg-5">
    <ul class="chapter-sidebar-list">
      <li  *ngFor="let chapter of chapters" class="chapter-sidebar-item" [class.completed]="progress.includes(chapter._id)"
        [class.active]="selectedChapter?._id === chapter._id" (click)="selectChapter(chapter)">
        <a>
          <i class="fa-regular fa-circle-play" *ngIf="!progress.includes(chapter._id)"></i>
          <i class="fa-regular fa-circle-check finished" *ngIf="progress.includes(chapter._id)"></i>
          <span [class.li-text]="progress.includes(chapter._id)">{{chapter.title}} </span></a>
      </li>
    </ul>
  </nav>
</div>
  <div class="table-area container-fluid">
    <app-chapter [selectedChapter]="selectedChapter" [recordedCourseId]="recordedCourseId" [chapters]="chapters"
      [progress]="progress" (selectedChapterChange)="onSelectedChapterChange($event)"
      *ngIf="selectedChapter"></app-chapter>
  </div>
</div>
