.chapter-sidebar {
  background-color: #c3a668;
  color: #f4ede4;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 22rem;
}

.chapter-sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chapter-sidebar-item {
  margin: 0;
  padding: 1rem;
  border-right: 1px solid #f4ede4;
  border-bottom: 1px solid #f4ede4;
  text-align: center;
  flex: 1;
  cursor: pointer;
}

.chapter-sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.chapter-sidebar-item.active {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.chapter-sidebar-item:last-child {
  border-right: none;
}

.chapter-sidebar-item a {
  color: #f4ede4;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.chapter-sidebar-item a i {
  font-size: 1.7rem;
}

.hamburger-menu {
  display: none;
  justify-content: center;
  align-items: center;
  background: #c3a668;
  color: #f4ede4;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
  text-align: left;
  padding: 0.5rem;
  border-radius: 25%;
}

.hamburger-menu i {
  font-size: 1.6rem;
  color: #f4ede4;
}

.completed {
  background-color: black;
  opacity: 0.5;
  cursor: pointer;
}

.li-text {
  text-decoration: line-through;
}

.finished {
  color: green;
}

@media screen and (max-width: 568px) {
  .page {
    flex-direction: column;
  }

  .hamburger-menu {
    width: 2.5rem;
    display: block;
    margin-top: 0.7rem;
  }

  .chapter-sidebar {
    display: none;
    width: 100%;
  }

  .chapter-sidebar-list {
    display: none;
    position: fixed;
    width: 100%;
    background-color: #c3a668;
    z-index: 9999;
    overflow-y: auto;
  }

  .chapter-sidebar-item {
    padding: 0.3rem;
    text-align: center;
  }

  .chapter-sidebar.active {
    display: block;
  }

  .chapter-sidebar-list.active {
    display: block;
  }

  .chapter-sidebar-item a {
    color: #f4ede4;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
  }

  .chapter-sidebar-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .chapter-sidebar-item a.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
  }

  .chapter-sidebar-item a i {
    font-size: 1.2rem;
  }

}
