.question-container
{
    border-bottom: 0.5px solid #ccc9c9;

}

.teacher{
    color: #af9068;
    text-decoration: none;
}

.category{
    background-color: #af9068;
    color: #fff;
    width: fit-content;
}
span{
    color: #af9068;
  
}
.btn-answer{
    background-color: #c3a668 !important;
    color: #fff;
}