<div class="container py-5">
    <div class="row my-4 rounded shadow bg-white align-items-center">
        <div class="col-md-5 px-0">
            <img [src]="imgSrc" width="100%" alt="">
        </div>
        <div class="col-md-7 px-0">
            <div class="register mx-auto bg-white p-4">
                <div class="alert alert-danger" *ngIf="error">{{error}}</div>
                <h2 class="text-center">{{header}}</h2>
                <div *ngIf="param!=='admin'" class="mt-4">
                    <label for="">Login As</label>
                    <select [(ngModel)]="role" class="form-select form-select w-25" aria-label=".form-select-sm example">
                        <option  value="student" selected>Student</option>
                        <option value="teacher">Teacher</option>
                    </select>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm)">
                    <div class="my-2">
                        <label for="Email">Email</label>
                        <input type="text" formControlName="email" id="Email" class="form-control">
                        <div class="text-danger"
                            *ngIf="loginForm.get('email')?.errors != null && loginForm.get('email')?.touched">
                            <p *ngIf="loginForm.get('email')?.errors?.['required']">email required</p>
                            <p *ngIf="loginForm.get('email')?.errors?.['email']">email invalid</p>
                        </div>
                    </div>
                    <div class="my-2">
                        <label for="Password">Password</label>
                        <input type="password" formControlName="password" id="Password" class="form-control">
                        <div class="text-danger"
                            *ngIf="loginForm.get('password')?.errors != null && loginForm.get('password')?.touched">
                            <p *ngIf="loginForm.get('password')?.errors?.['required']">password required</p>
                            <p *ngIf="loginForm.get('password')?.errors?.['minlength']">password must contain at
                                least 8 characters</p>
                        </div>
                    </div>
                    <button type="submit" class="rounded py-2 w-100 my-2" [disabled]="loginForm.invalid">login</button>
                </form>
            </div>
        </div>
    </div>
</div>