<div class="header">
  <div class="overlay py-5">
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner container">
        <div class="carousel-item active">
          <div class="row align-items-center">
            <div class="col-md-6">
              <img
                src="assets/bg/quran-removebg-preview.png"
                width="100%"
                alt=""
              />
            </div>
            <div class="col-md-6 p-5 desc shadow rounded">
              <h1 class="fs-1">Quran Academy</h1>
              <p class="mt-3">
                Your Path to Quranic Knowledge. Learn, recite, and connect with
                the Quran through our comprehensive online courses.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="assets/bg/y.png" width="100%" alt="" />
            </div>
            <div class="col-md-6 p-5 desc shadow rounded">
              <h2>Qualified Teachers</h2>
              <p class="mt-3">
                At Iqraa, we pride ourselves on having a team of highly
                qualified and experienced teachers. Our educators are passionate
                about providing a comprehensive education that encompasses both
                Islamic studies and academic subjects.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="assets/bg/s.png" width="100%" alt="" />
            </div>
            <div class="col-md-6 p-5 desc shadow rounded">
              <h2>Recorded Courses</h2>
              <p class="mt-3">
                Our recorded courses offer a flexible and convenient way for
                students to learn on their own schedule. Created by experienced
                educators, our courses cover a variety of subjects, including
                Islamic studies and Arabic language. Accessible online, our
                engaging and informative course content provides a high-quality
                education to deepen your knowledge and understanding of Islam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleRide"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleRide"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
