<div class="course-card">
  <div class="course-card-header">
    <h3>{{ name }}</h3>
    <p><span>Level:</span> {{ level }}</p>
  </div>
  <div class="course-card-body">
    <div class="course-card-details">
      <p><span>Teacher:</span> {{ teacher }}</p>
      <p><span>Number of Sessions:</span> {{ numSessions }}</p>
      <p><span>Price:</span> {{ price }}</p>
    </div>
    <div class="course-card-dates">
      <p><span>Start Date:</span> {{ startDate }}</p>
      <p><span>End Date:</span> {{ endDate }}</p>
      <p><span>Days of the Week:</span> {{ daysOfWeek }}</p>
    </div>
  </div>
  <div class="course-card-description">
    <p><span>Description:</span> {{ description }}</p>
     
  </div>
  
</div>

