<div class="header py-5">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <img src="assets/bg/quran-removebg-preview.png" width="100%" alt="">
            </div>
            <div class="col-6 rounded shadow p-5">
                <h1>Quran Academy</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eius illo eaque reiciendis
                    impedit
                    fugiat sunt natus provident molestiae architecto?</p>
            </div>
        </div>
    </div>

</div>
<!-- <img src="../../../assets/bg/quran-removebg-preview.png" alt=""> -->