<div class="container-card">

    <div class="person" style="--data-color: #c3a668">
        <h3 class="header">{{ course.name }}</h3>
        <dl class="attributes">
            <dt>Category</dt>
            <dd>{{ course.category.name }}</dd>
            <dt>Number Of Chapter</dt>
            <dd>{{ course.numberOfChapters }}</dd>
            <dt>price</dt>
            <dd>{{ course.price }} LE</dd>
        </dl>
        <button class="custom-button">Enroll Now</button>
    </div>

</div>
<div class="container">
        <h3 class="header">Course Chapter</h3>

        <table mat-table [dataSource]="chapters" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let chapter">{{ chapter.title }}</td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>description</th>
                <td mat-cell *matCellDef="let chapter">{{ chapter.description }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['name', 'description']"></tr>
            <tr mat-row *matRowDef="let chapter; columns: ['name', 'description']"></tr>
        </table>
</div>