<section class="mt-3">
    <div class="container">
        <div class="divHeading">
            <!-- <mat-icon class="overflow-visible fs-3 me-3">question_answer</mat-icon> -->
            <h1 class="display-4">All Questions</h1>
        </div>
        <div class="d-flex align-items-center">
            <div>
                <label for="">Category</label>
                <select class="form-select w-75" aria-label="Default select example" [(ngModel)]="categoryID"
                    (change)="changeCategory()">
                    <option value="">All</option>
                    <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
                </select>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="answered" (click)="answeredChange()"
                    id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Answered Questions </label>
            </div>
        </div>
        <ng-container *ngIf='isLoading'> <app-spinner></app-spinner> </ng-container>
        <div class="row" *ngIf='!isLoading'>
            <div class="col-12">
                <div *ngIf="!questions.length" class="p-5" style="height: 80vh;">
                    <h2>
                        NO QUESTIONS YET
                    </h2>
                </div>
                <div *ngFor="let question of questions">
                    <app-question [question]="question"></app-question>
                </div>
                <nav aria-label="Page navigation example" *ngIf="questions.length">
                    <ul class="pagination justify-content-center mt-4">
                        <li class="page-item">
                            <a class="page-link" (click)="prevPage()">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link">{{currentPage}}</a></li>
                        <li class="page-item">
                            <a class="page-link" (click)="nextPage()">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
