<div class="container">
  <div class="m-2">
    <div class="divHeading">
      <h1 class="display-4">My recorded courses</h1>
    </div>
    <div class="d-flex justify-content-between flex-column" style="width: 15%">
        <label for="" style="font-size: 14px;">Category</label>
        <select class="form-select w-75" aria-label="Default select example" [(ngModel)]="selectedCategory"
          (change)="onSelectCategory($event)">
          <option value="">All</option>
          <option value="finished">Finished</option>
          <option value="inProgress">In progress</option>
        </select>
    </div>

    <ng-container>
      <div class="row">
        <div *ngFor="let course of filteredCourses" class="col-md-6 py-4">
          <div class="per-course">
            <a [routerLink]="['/student/chapters', course.courseID._id]" class="card-link"><app-recourded-course
                [course]="course"></app-recourded-course></a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
