<h2 mat-dialog-title>Edit recorded course</h2>
<mat-dialog-content class="mat-typography bg">
  <div class="m-3 color">
    <form class="form" [formGroup]="editForm" (submit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="custom-field">
            <input matInput placeholder="Name" formControlName="name" />
            <mat-error *ngIf="
                editForm.controls['name'].touched &&
                editForm.get('name')?.hasError('required')
              ">
              Name is required.
            </mat-error>
            <mat-error *ngIf="
                editForm.controls['name'].touched &&
                editForm.get('name')?.hasError('whitespace')
              ">
              Name cannot be only whitespace characters.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field class="custom-field">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" #categorySelect>
              <mat-option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="editForm.get('category')?.hasError('required')">
              Category is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field class="custom-field">
            <input matInput placeholder="Price" formControlName="price" />
            <mat-error *ngIf="editForm.get('price')?.hasError('required')">
              Price is required.
            </mat-error>
            <mat-error *ngIf="editForm.get('price')?.hasError('notGreaterThanZero')">
              Price must be greater than zero.
            </mat-error>
            <mat-error *ngIf="
                editForm.controls['price'].touched &&
                editForm.get('price')?.hasError('whitespace')
              ">
              Price cannot be only whitespace characters.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="modal-buttons mt-5">
        <button mat-raised-button type="submit" [disabled]="editForm.invalid" class="add-course-btn">
          Edit recorded course
        </button>
        <button mat-raised-button mat-dialog-close class="mx-2">Cancel</button>
      </div>
    </form>
  </div>
</mat-dialog-content>
