<section class="">
    <h2 class="text-center py-4 fs-3 bg-students">Attendees</h2>
    <ng-container *ngIf="isLoading">
        <div class="d-flex justify-content-center align-items-center" style="height: auto;">
        <div class="spinner-border" style="width: 6rem; height: 6rem;"  role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>
    
    <ul class="list-group" *ngIf="!isLoading">
        <li class="list-group-item" *ngFor="let student of students">
          <app-enrolledstudent [student]="student"></app-enrolledstudent>
        </li>
    </ul>
</section>