.custom-card {
  width: 300px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #93938b;
}

.custom-card .card-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.custom-card .card-text {
  font-size: 16px;
  margin-bottom: 5px;
  color: #666;
}

.custom-card .card-key {
  color: #1e1b1a;
  font-weight: bold;
}

.custom-card .card-value {
  color: #e35f41; 
}

.custom-card .btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-card .btn:hover {
  background-color: #45a049;
}

.page-link {
  background-color: transparent;
  cursor          : pointer;
  color: #000;
}

.page-link:hover {
  color: #fff; 
  background-color: #000; 
}

.page-link:active {
  color: #ff0000; 
  background-color: #999999; 
}