<div class="container" >
  <div class="m-2">

    <div class="divHeading">
      <h1 class="display-4">Recorded Courses</h1>
    </div>

    <div class="d-flex flex-wrap">
      <div class="form-group mr-2">
        <label for="teacher-dropdown">Category</label>
        <select
          class="form-control"
          id="teacher-dropdown"
          [(ngModel)]="category"
          (change)="changeCategory()"
        >
          <option [defaultSelected] value="">All</option>
          <option *ngFor="let category of categories" [value]="category._id">
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>

    <ng-container *ngIf="isLoading">
      <div class="d-flex justify-content-center align-items-center vh-100">
          <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
      </div>
  </ng-container>

    <ng-container>
      <div class="card-container d-flex flex-wrap">
        <div *ngFor="let course of recordedCourses" class="card" [routerLink]="course['_id']">
          <mat-card class="card-width">
            <mat-card-header class="card-header">
              <mat-card-title class="course-name">{{
                course['name']
              }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
              <p>
                <strong>Number Of Chapters:</strong>
                {{ course['numberOfChapters'] }}
              </p>
              <p>
                <strong>Category:</strong>
                {{ course['category']['name'] }}
              </p>
              <hr />
              <mat-card-actions class="card-actions">
                <p class="price">{{ course['price'] + " " + "LE" }}</p>
                <button (click)="enrollCourse($event,course['_id'])" class="enrollBtn btn">Enroll Now</button>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </ng-container>

    <nav aria-label="Page navigation example" *ngIf="recordedCourses.length">
      <ul class="pagination justify-content-center mt-4">
          <li class="page-item">
              <a class="page-link" (click)="prevPage()" [ngClass]="{'disabled': !hasPrevPage}">Previous</a>
          </li>
          <li class="page-item"><a class="page-link"  [ngClass]="{'disabled': true}">{{currentPage}}</a></li>
          <li class="page-item">
              <a class="page-link" (click)="nextPage()" [ngClass]="{'disabled': !hasNextPage}">Next</a>
          </li>
      </ul>
    </nav>

  </div>
</div >
