.section {
  font-family: 'Gamja Flower', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4ede4;
  margin: 0px;
  margin-top: 2rem;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
}

.section-p {
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  text-align: center;
}

.section-a {
  color: #c3a668;
  text-decoration: none;
}

.not-found {
  background-color: #c3a668;
  color: white;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 3rem;
}

.tipsiz {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  flex-direction: column;
}

.tipsiz-body {
  display: flex;
  align-items: center;
  margin: 2rem;
}

.arm {
  align-self: flex-end;
  width: 50px;
  height: 90px;
  border-top: 3px solid black;

}

.left-arm {
  border-right: 3px solid black;
  transform: skew(20deg);
}

.right-arm {
  border-left: 3px solid black;
  transform: skew(-20deg);
}

.face {
  width: 300px;
  height: 200px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
}

.upper-face {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 80px;
  margin-left: 80px;
}

.element {
  font-size: 60px;
}

.mouth {
  width: 20px;
  height: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 3px solid black;
  border-bottom: 0;
}