<div class="d-flex justify-content-between page">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="table-area container-fluid">
    <div class="d-flex justify-content-between m-1 filter-add mb-2">
      <div class="d-flex flex-wrap">
        <div class="form-group mx-2">
          <label for="level-dropdown">Gender</label>
          <select
            class="form-control"
            id="gender-dropdown"
            [(ngModel)]="selectedGender"
            (change)="getTeachers()"
          >
            <option>All</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>

      <div class="addTeacher" (click)="openAddTeacherModal()">
        <span>Add new teacher</span>
        <i class="fas fa-add"></i>
      </div>
    </div>

    <ng-container>
      <div class="row text-left">
        <ng-container>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h1 class="card-title">Teachers</h1>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <table
                    class="table table-responsive-md table-striped text-center"
                  >
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container>
                        <tr
                          class="tr"
                          *ngFor="
                            let teacher of teachers
                              | paginate
                                : { itemsPerPage: 6, currentPage: page }
                          "
                        >
                          <td>{{ teacher.id }}</td>
                          <td>{{ teacher.firstName }}</td>
                          <td>{{ teacher.lastName }}</td>
                          <td>{{ teacher.gender }}</td>
                          <td>{{ teacher.email }}</td>
                          <td>
                            <div class="action">
                              <!-- <button
                                mat-icon-button
                                (click)="openEditCourseModal(teacher._id)"
                              >
                                <mat-icon
                                  aria-label="Edit"
                                  class="material-icons-outlined"
                                  >edit</mat-icon
                                >
                              </button> -->
                              <button
                                mat-icon-button
                                color="warn"
                                (click)="delTeacher(teacher._id)"
                              >
                                <mat-icon
                                  aria-label="Delete"
                                  class="material-icons-outlined"
                                  >delete</mat-icon
                                >
                              </button>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <pagination-controls
                  (pageChange)="page = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
