section{
    background-image: url(../../../assets/bg/bg.jpg);
}
.overlay {
    height: 100%;
    background-color: rgba(244, 237, 228, 0.7);
}

.shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
}